@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
    color: #fff;
  font-family: Inter, ui-sans-serif, system-ui;
    background: #170f34;
    font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
    font-size: 110px;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#e1c4ff),to(#fbf5ff));
    -webkit-background-clip: text;
}

.vault {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    padding: 25px;
    border-radius: 16px;
    background-color: #221551;
    -webkit-transition: .2s;
    transition: .2s;
    color: #fff;
    text-decoration: none;
    margin-bottom: 60px;
}

.vault h3 {
    margin-top: 0;
}

.vault-wide {
    max-width: 960px;
    width: 960px;
}

.vault .left {
    width: 70%;
}

.vault .right {
    width: 30%;
}

.btn {
    color: white;
    background: #2D1F60;
    display: block;
    line-height: 1rem;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 16px;
    border-radius: 16px;
    border: 0;
    padding: 20px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
    color: yellow;
    background: #4D1F80;
}

.btn[disabled] {
    color: #888;
    cursor: not-allowed;
}

.btn[disabled]:hover {
    opacity: 1.0;
    background: #2D1F60;
}

.status {
	margin-top: 8px;
	color: #8471ce;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
    text-align: center;
}

.heading-strategy {
    font-size: 40px;
}

input {
    width: 330px;
    height: 48px;
    margin-bottom: 0;
    padding: 8px 16px;
    border: 1px solid #ac98e8;
    border-radius: 8px;
    background-color: #0d0626;
    -webkit-transition: .2s;
    transition: .2s;
    color: #fff;
    margin-top: 1em;
}

input[disabled] {
    opacity: 0.1;
}

label {
    display: block;
}

.error {
    color: red;
    font-size: 80%;
}

.success {
    color: green;
    font-size: 80%;

}

.value {
    font-weight: 300;
    color: #ddd;
}

.value-address {
    font-size: 80%;
}

.connect-info {
    text-align: left;
    font-size: 80%;
    color: #888;
}

/* https://projects.lukehaas.me/css-loaders */

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.loader-wrapper {
    width: 100%;
    height: 70px;
    text-align: center;
}

.blurpsie {
    max-width: 960px;
    font-weight: 300;
    width: 100%;
}

.blurpsie strong {
    color: #c3c5cb;
}

.info-pane {
    padding: 16px;
    border-radius: 16px;
    background-color: rgb(45, 39, 85);

    color: #c3c5cb;
    font-size: 0.9rem;
}

.blurpsie table th,
.blurpsie table td {
    text-align: left;
    padding-right: 20px;
}